<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-vertical') do |f| %>
  <div class="control-group normal_text"> 
    <h3>Login</h3>
  </div>
  
  <%= flash.inspect %>
  <% if flash.any? %>
    <div class='alert alert-danger' align='center'>
        <% flash.each do |name, msg| %>
          <%= content_tag :strong, msg %>
        <% end %> 
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <div class="main_input_box">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <div class="main_input_box">
        <%= f.password_field :password, autofocus: true, placeholder: "Password (#{ @minimum_password_length } characters minimum)" %>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <div class="main_input_box">
        <%= f.password_field :password_confirmation, autofocus: true, placeholder: 'Confirm Password' %>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row justify-content-end" style='padding-bottom: 10px; padding-right: 30px;'>
    <div class='col-md-2'>
      <%= f.submit "Sign up", class: 'btn btn-success' %>  
    </div>
  </div>
  
<% end %>

<%= render "devise/shared/links" %>
