 <div class="widget-box">
    <div class="widget-title"><span class="icon"><i class="icon-tasks"></i></span>
        <h5>Site Analytics</h5>
          <div class="buttons"><a href="#" class="btn btn-sm btn-success"><i class="icon-refresh"></i> Update stats</a></div>
    </div>
    <div class="widget-content">
        <div class="row-fluid">
            Yo
        </div>
    </div>
</div>