<%= form_with(model: project, class: 'inline-form') do |f| %>

  <div class='form-group'>
    <%= inline_switch(f, :status, project.status, Project.statuses) %>
  </div>

  <div class='form-group'>
    <%= inline_update_text_field(f, :name, project.name) %>
  </div>
  
  <div class='form-group'>
    <%= inline_update_text_field(f, :description, project.description) %>
  </div>

  <div class='form-group'>
      <%= inline_update_select2(f, :owned_by, 
                    'Select a user', 
                    search_users_path, 
                    'email') do  %>
        <% if !project.owned_by.nil? %>
          <option value="<%= project.owned_by.id %>">
            <%= project.owned_by.name %>
          </option>
        <% end %>
      <% end %>
  </div>
  
  <hr/>
  
  <div class='form-group'>
    <%= inline_switch(f, :auto_start_iter, project.auto_start_iter, Project.auto_start_iters) %>
  </div>
  
  <div class='form-group'> 
    <%= inline_dropdown(f, :iter_length, project.iter_length, (1..4).collect{ |x| [ "#{x} weeks", x]   } ) %>
  </div>
  
  <hr/>
  
  <div class='form-group'>
    <%= inline_markdown(f, :profile, project.profile_markdown)   %>
  </div>
  
<% end %>