<div class='modal-header'>
  <h2>Create new project</h2>
</div>
<div class='modal-body'>
  <%= render partial: 'shared/modal_error_block' %>
  
  <%= form_with(model: project, id: 'create-modal') do |f| %>

    <div class='form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: 5 %>
    </div>

  <% end %>
  
</div>
<div class='modal-footer'>
  <div id="actions">
    <button id='modal-create' class='btn btn-primary raised'>Create</button>
    <button id='modal-close' class='btn btn-danger raised' data-dismiss='modal'>Close</button>
  </div>        
</div>


