 <div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <%= fa_icon 'eye' %>
        </span>
        <h5>Project:</h5>
        <h5 id='project-name'><%= @project.name %></h5>
    </div>
    <div class="widget-content">
        <div class='row'>
            <div class='col-md-3'>
                <label>Created by:</label>
            </div>
            <div class='col-md-9'>
                <span><%= @project.created_by.name %></span>
            </div>
        </div>
        <div class="row-fluid">
            <%= render 'form', project: @project %>
        </div>
        <div id='delete-section'>
    <button id='destroy-project'>Delete</button> 
    
    <div id='delete-warning' style='display:none'>
        
        <p id="notice"></p>
        
        <%= form_with(model: @project, method: 'delete', id:'delete-project-form') do |f| %>
            <input id="project_name" name="project[name]" type="text" />
            <%= f.submit 'Confirm', id: 'delete-project' %>
        <% end %>
    </div>
</div>

    </div>
</div>


<script type='text/javascript'>
    $(function(){
        $('body').on('click', '#destroy-project', function() {
            $('#delete-warning').show();
        });
        
        $('body').on('ajax:error', '#delete-project-form', function(event, xhr, status, error) {
           $('#notice').html(xhr.responseText)
        });
        
        $('#project[name]').on('keyup change', function() {
            console.log('here')
            $('#project-name').html( $(this).val() )
        });
        
    })
</script>