<p id="notice"><%= notice %></p>

<% if admin? %>
  <div class='row'>
    <div class='col-md-1'>
      <button id='bobo' type='button' class='btn btn-primary raised' 
        data-toggle='modal'  data-target='#create-modal'
        data-url="<%= new_project_path %>" 
        data-method="GET">Create</button>
    </div>
  </div>
<% end %>

<div class='widget-box'>
  <div class='widget-title'>
    <h5>Projects</h5>
    <div class='widget-content nopadding'>
      <div class='dataTables_wrapper' role='grid'>
        <div>
          <div class='dataTables_length'>
            <label>
              Status
              <select id='project-status'>
                <option value='active'>Active</option>
                <option value='archived'>Archived</option>
              </select>
            </label>
          </div>
        </div>
        
        <table class='table table-bordered data-table dataTable'>
          <thead>
            <tr role='row'>
              <th class='ui-state-default'>
                <div class='DataTables_sort_wrapper'>
                  Name
                </div>
              </th>
              <th class='ui-state-default'>
                <div class='DataTables_sort_wrapper'>
                  Description
                </div>
              </th>
              <th class='ui-state-default'>
                <div class='DataTables_sort_wrapper'>
                  Owner
                </div>
              </th>
            </tr>
          </thead>

          <tbody role='alert'>
            <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, edit_project_path(project) %></td>
                <td><%= project.description %></td>
                <td><%= project.owned_by.name unless project.owned_by.nil? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class='fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix'>
          <div class='dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers'>
            <%= paginate @projects, params: { status: params[:status] } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<%= render partial: 'shared/modal_base' %>

<script type='text/javascript'>
  $(function() {
    var status = getUrlVars()['status']
    
    if(status)
    $('#project-status').val(status)
    
    $('body').on('change', '#project-status', function(event) {
      window.location = '<%= projects_path %>/?status=' + this.value
    });
  })
  
function getUrlVars() {
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++) {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
</script>
