 <div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <%= fa_icon 'info' %>
        </span>
        <h5><%= @project.name %></h5>
    </div>
    <div class="widget-content">
        <div class="row-fluid">
            <%= @project.profile_markdown %>
        </div>
    </div>
</div>
