<%# Link to the "First" page
  - available local variables
    url:           url to the first page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
  <%= 
      link_to_unless current_page.first?, 
      t('views.pagination.first').html_safe, 
      url, 
      remote: remote,
      class:"first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default #{ current_page.first? ? 'ui-state-disabled' : ''}"
  %>

