<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-vertical') do |f| %>
  <div class="control-group normal_text"> 
    <h3>Login</h3>
  </div>
  
  <% if flash.any? %>
    <div class='alert alert-danger' align='center'>
        <% flash.each do |name, msg| %>
          <%= content_tag :strong, msg %>
        <% end %> 
    </div>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
      <div class="main_input_box">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <div class="main_input_box">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
      </div>
    </div>
  </div>
  
  <hr/>
  <div class="row justify-content-end" style='padding-bottom: 10px'>
    <div class='col-md-4'>
      <% if devise_mapping.rememberable? -%>
        <div class='checkbox checkbox-info checkbox-circle'>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>  
        </div>
      <% end -%>  
    </div>
    
    <div class='col-md-4'>
      <%= f.submit "Login", class: 'btn btn-success' %>  
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
