@import "bootstrap";
@import "font-awesome";
@import "select2";
@import "bootstrap3-switch";


div.markdown-placeholder:empty {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.15);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.15);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 2em;
    width: 100%;
}
div.markdown-placeholder {
    background: #E9E9E9;
    width: 100%;
}

.inline-markdown {
    display: none;    
}

.select2-container--default .select2-selection--single {
    height: 2em;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
