<html lang="en">
    
<head>
        <title>Oryion</title>
        <meta charset="utf-8" />
        <%= stylesheet_link_tag :login, :buttons, :checkbox,  media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        <%= csrf_meta_tags %>
</head>
<body>
    <div id="loginbox">
        <%= yield %>
    </div>
</body>
</html>